#prec{
	display: flex;
}
	#prec input{
		padding: 0;
	}
	#prec input[type=number]{
		width: 3em;
	}
	#prec input[type=button]{
		background: #00AFF2;
		padding: 0 0.5em;
	}
	.descV b{
		color: #003E80;
	}
.secfl{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	.secfl #filtro{
		width: 20%;
	}
	.secfl .flexcjB{
		width: 70%;
	}
@media screen and (max-width: 700px){
	.secfl{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.secfl #filtro,.secfl .flexcjB{
			margin: 0 auto;
			width: 90%;
		}
}