@import url(https://fonts.googleapis.com/css?family=Exo:400,300,700);/*font-family: 'Exo', sans-serif;*/
@font-face{
	font-family: "Dense_Regular";
	src:url(Dense_Regular.otf);
}
body{
	background: #1D1E22;
	color: #EDEEF0;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
}
footer{
	background: #AFE32B;
	color: #000;
}
	footer #fotfin{
		background: #5E8C00;
		color: #000;
		font-size: 12px;
		padding: 0.5em 0;
		text-align: center;
	}
		footer #fotfin a{
			color: #000;
		}
	footer .flexfoot{
		display: flex;
	}
		footer .flexfoot .flexxdos{
			width: 95%;
		}
		footer .flexfoot .flexxdos{
			display: flex;
			-webkit-justify-content: space-around;
			-ms-justify-content: space-around;
			justify-content: space-around;
			margin: 1em 0;
		}
			footer .flexfoot .flexxdos a{
				color: #000;
				margin:0.5em;
				text-decoration: none;
			}
			footer .flexfoot .flexxdos a:hover{
				text-decoration: underline;
			}
			footer .flexfoot .flexxdos article{
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}	
				footer .flexfoot .flexxdos article div{
					margin: 0.5em 0;
				}
		footer .flexfoot #redes{
			align-items: center;
			background: #9DBA3C;
			justify-content:center;
			width: 5%;
		}	
			footer .flexfoot #redes a{
				margin: 0.5em 0;
			}
	figure img{
		width: 100%;
	}
header{
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	padding: 1em 0;
}
	header nav{
		display: flex;
	}
		header nav a{
			text-decoration: none;
			color: #000;/*#FFFEFF;*/
		}
		header nav figure{
			background: url(../imagenes/avatar/default.png) no-repeat scroll center center / cover #888B7D;
			height: 50px;
			width: 50px;
		}
		header nav figure:hover,header nav figure:active,header #caritod:hover,header #caritod:active
		{
			box-shadow: 0 0 5px #000;
			transform: scale(1.05);
		}
	header #caritod{
		background: #A6D42A;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 50px;
		margin-left: 0.5em;
		text-align: center;
		width: 50px;
	}
		header #caritod .icon-bicil_carr2{
			font-size: 35px;
			margin-top: 0.25em;
		}
		header #caritod #decar{
			color: #fff;
			position: relative;
			margin: -1.9em 0 0 0.5em;
			z-index: 2;
		}
	header #logo{
		width: 10em;
	}
	header #senin{
		text-align: center;
	}
		header #senin a:hover,footer #fotfin a:hover,footer .flexfoot a:hover
		{
			color: #00AFEF;
		}
	h1,h2{
		text-align: center;
	}
	input,select,#tsmj{
		border:1px solid rgba(0,0,0,0.5);
		background: #555555;
		color: #fff;
		padding: 0.5em;
	}
	input:hover,select:hover{
		border:1px solid #00AFF2;
	}
	input:focus,select:focus,textarea:focus{
		border:1px solid #A74339;
		box-shadow: inset 0 0 5px #000;
	}
table{
	margin: 0 auto;
	text-align: center;
}
#automargen{
	margin: 0 auto;
	max-width: 1100px;
}
#avatus{
	margin: 1em auto;
	width: 50%;
}
#bongn{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin: 0.5em 0;
}
#btnfl{
	background: #222222;
	cursor: pointer;
	display: none;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 1em;
}
	#btnfl:hover,#btnfl:active{
		background: #000;
	}
#btnmovil{
	cursor: pointer;
	display: none;
	font-size: 28px;
	height: 34px;
	text-align: center;
	width: 34px;
}
#btnmovil:hover,#btnmovil:active{
	background-color: #00AFF2;
}
#busq{
	background: url(../imagenes/icbusq.png) no-repeat center;
	background-size:cover;
	cursor: pointer;
	height: 20px;
	opacity: 0.7;
	width: 20px;
}
#busq:hover,#busq:active{
	opacity: 1;
}
#busMs{
	cursor: pointer;
}
#busMs:hover,busMs:active{
	transform: scale(1.2);
}
#busqueda{
	padding: 0.5em 0;
	display: none;
}
	#busqueda article{
		/*border:1px solid #555555;*/
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: flex;
		margin: 0 auto;
		max-width: 1100px;
	}
		#busqueda article span{
			font-size: 20px;
			margin: 0 0.25em;
		}
	#busqueda input{
		background: none;
		/*color: #fff;*/
		width: 100%;
	}
	#busqueda input:focus,#busqueda input{
		border:1px solid #16181D;
	}
	#busqueda #resultadoBs{
		background: #16181D;
		position: absolute;
		margin-left: 10%;
		width: 80%;
		z-index: 35;
	}
#colorun{
}
#colordo{
	background: #26282A;
}
#coltexto{
	display: none;
	padding: 0 1em;
}
#facvent{
	color: #fff;
	text-decoration: none;
}
	#facvent:hover{
		text-decoration: underline;
	}
#filtro{
	border:1px solid #454545;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 1em;
}
	#filtro div{
		padding-bottom: 1em;
	}
	#filtro select{
		margin: 0.5em;
	}
	#filtro #fld{margin-bottom: 2em;}
	#filtro #prec{
		margin: 0 auto;
	}
	#filtro #tamm{
		margin: 0 0 0 1em;
	}
	#filtro .disctg{
		background: #454545;
		border-bottom: 1px solid #454545;
		border-top: 1px solid #454545;
		margin-bottom: 1em;
		padding: 0.5em;
	}
#galerdes{
	width: 50%;
}
	#galerdes figcaption{
		display: flex;
		width: 8em;
	}
		#galerdes figcaption figure{
			cursor: pointer;
		}
		#galerdes figcaption figure:hover,#galerdes figcaption figure:active{
			transform: scale(1.1);
		}
#jntx{
	background: #1D1E22;
	color: #6F7074;
	display: flex;
	justify-content: space-around;
	margin-top: 3em;
}
	#jntx div{
		cursor: pointer;
		padding: 0.5em;
	}
	#jntx div:hover,#jntx div:active{
		color: #AFE32B;
	}
#login{
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	height: 0;
	overflow: hidden;
}
	#login a{
		background: #222222;
		color: #9D9D9D;
		padding: 0.5em 1em;
		text-decoration: none;
	}
	#login a:hover,#login a:active{
		background: #555555;
		color: #fff;
	}
#mnB{
	background: #A6D42A;/*#B3D341;*/
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
	#mnB a{
		border-bottom: 1px solid #fff;
		color: #FEFEFC;
		font-weight: bold;
		padding: 1em 0;
		text-decoration: none;
	}
#mnP{
	background:#101012;
	padding: 1em 0;
}
	#mnP a{
		color: #FEFEFC;
		font-weight: bold;	
		text-decoration: none;
		z-index: 26;
	}
	#mnP a:hover,#mnB a:hover,#mnB a:active{
		color: #00AFF2;
	}
	#mnP ul{
		display: flex;
		-webkit-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
		list-style: none;
		margin: 0 auto;
		max-width:1100px;
		padding: 0;
		z-index: 35;
	}
		#mnP ul li{
			margin: 0;
		}
			#mnP ul li ul{
				background: #CACACA;
				display: none;
				-webkit--ms-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				position: absolute;
				text-align: center;
			}
				#mnP ul li ul li{
					border-bottom: 1px solid #ADADAD;
					padding: 0.5em 0;
				}
					#mnP ul li ul li ul{
						margin-left: 3em;
						margin-top: -1.5em;
						width: 100%;
					}
				#mnP ul li ul a{
					color: #000;
					border:0;
					font-weight: normal;
					padding: 0.5em 1em;
				}
		#mnP ul li:hover>ul{
			display: flex;
		}
	#mnP .sele,#mnB .sele{
		color: #03AEEB;
	}
#nos_consli{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	#nos_consli figure{
		width: 50%;
	}
	#nos_consli figcaption{
		width: 40%;
	}
#resultadoBs{
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
	#resultadoBs a{
		border-bottom: 1px solid #555555;
		color: #fff;
		text-decoration: none;
	}
	#resultadoBs a:hover{
		background: #555555;
	}
	#tablsel td{
		padding: 0.5em 1em;
	}
		#tablsel td figure{
			margin: 0 auto;
			width: 50%;
		}
#texdexpro{
	padding: 0 1em;
	width: 40%;
}
#versub{
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	#versub #lksubm{
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		#versub #lksubm a{
			color: #9D9D9D;
			text-decoration: none;
		}
		#versub #lksubm a:hover{
			color: #fff;
		}
			#versub #imagsub #unasimg{
				display: flex;
				-webkit-justify-content: space-between;
				-msjustify-content: space-between;
				justify-content: space-between;
			}
				#versub #imagsub #unasimg figure{
					width: 20%;
				}
.aumnP{
	margin: 0 auto;
	max-width: 1100px;
}
.botonstyle,#botostyl{
	background: #222222;/*#B3D341;*/
	color: #fff;
}
	.botonstyle:hover,#botostyl:hover,.botonstyle:active,#botostyl:active{
		background: #00AFF2;
	}
.cjaaun{
	box-shadow: 2px 0 10px #000;
	padding: 3em 0 0 0;
}
	.cjaaun figure{
		margin: 0 auto;
		width: 90%;
	}
	.cjaaun figure:hover,.cjaaun figure:active{
		transform: scale(1.025);
	}
		.cjaaun figure img{
			border:5px solid #11A1E7;
		}
.cardsn{
	background: #222222;
	color: #9D9D9D;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	text-decoration: none;
}
.cardsn:hover,.cardsn:active{
	background: #555555;
	color: #fff;
}
.columninput{
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
	.columninput input,.columninput select{
		text-align: center;
	}
.flexcjA{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.flexcjB{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.flexcjC{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	.flexcjB figure{
		width: 30%;
	}
.flexdescri{
	display: flex;
}
.flNsIn{
	display: flex;
	justify-content: space-around;
	padding: 2em 0;
}
	.flNsIn figure{
		width: 40%;
	}
		.flNsIn figure img{
			border:0;
		}
	.flNsIn figcaption{
		text-align: justify;
		padding: 0 3em;
		width: 40%;
	}
.prodVer{
	position: relative;
}
		.prodVer figcaption a{
			/*background: #222222;*/
			color: #000;/*#9D9D9D;*/
			display: none;
			margin: 0.5em 0;
			padding: 0.5em 0;
			text-decoration: none;
		}
		.prodVer figcaption a:hover{
			background: #555555;
			color: #fff;
		}
.submen{
	background: #222222;
	box-shadow: 0 3px 8px #000;
	display: none;
	margin-top:-1.25em;
	padding: 1em 0;
	position: absolute;
	width: 100%;
	z-index: 25;
}
.sectionCol{
	background: #2C2D2F;
}
	.sectionCol h1{
		margin: 0;
		padding: 0.5em 0 1em 0;
	}
/*-------------Redes----------------------------*/
#redes{
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 22px;
}
#redes a{
	color: #27292B;
	text-decoration: none;
}
#redes a:hover,#redes a:active{
	color: #00B2F4;
}
/*---------------------------------------------*/
@media screen and (max-width: 700px){
	footer .flexfoot{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
		footer .flexfoot article{
			margin: 0.5em 0;
		}
		footer .flexfoot #redes{
			-webkit-flex-direction: initial;
			-ms-flex-direction: initial;
			flex-direction: initial;
			-webkit-justify-content: space-around;
			-ms-justify-content: space-around;
			justify-content: space-around;
			margin: 0 auto;
			width: 90%;
		}
	header{
		align-items: center;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		header #logo,header #busqueda, header nav{
			margin: 0.5em 0;
		}
	#avatus{
		width: 90%;
	}
	#btnfl{
		display: block;
	}
	#btnmovil{
		display: block;
	}
	#busMs{
		font-size: 23px;
		margin-right: 1em;
	}
	#busqueda #resultadoBs{
		width: 50%;
	}
	#filtro{
		display: none;
	}
		#filtro select{
			text-align: center;
		}
	#login,#nos_consli{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#jntx{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		#jntx div{
			border-right: 0;
			border-bottom: 1px solid #fff;
			text-align: center;
		}
#mnP{
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
	#mnP a{
		display: none;
	}
		#nos_consli figure,#nos_consli figcaption{
			margin:0.5em auto;
			width: 90%;
		}
	.flexcjA,.flexcjB,.flexcjC,.flexdescri{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.flexcjB figure{
			margin: 0 auto;
			width: 90%;
		}
		.flexdescri #galerdes,.flexdescri #texdexpro{
			margin: 0 auto;
			width: 90%;
		}
}
@media screen and (max-width: 650px){
	.flNsIn{
		flex-direction: column;
	}
		.flNsIn figure,.flNsIn figcaption{
			margin: 1em auto;
			width: 90%;
		}
		.flNsIn figcaption{padding:0;}
}
@media screen and (max-width: 500px){
			footer .flexfoot .flexxdos{
				flex-direction: column;
			}
	#login .columninput article{
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
