header{
	color: #fff;
}
	header nav a{
		background: #222222;
		color: #fff;
		padding: 0.5em 1em;
	}
	header nav a:hover,header nav a:active{
		background: #555555;
	}
table{
	margin: 0 auto;
	text-align: center;
}
	table td{
		padding: 0.5em;
	}
		table td a{
			color: #fff;
			text-decoration: none;
		}
		table td a:hover{
			text-decoration: underline;
		}
	table #imgcolfl{
		width: 10%;
	}
input[type="number"]{
	margin: 0 auto;
	width: 95%;
}
#adbtn{
	background: #222222;
	border-bottom:1px dotted #fff;
	color: #9D9D9D;
	padding: 0.5em 0;
	text-decoration: none;
}
	#adbtn:hover{
		background: #000;
		color: #fff;
	}
#mnP{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	border-bottom: 1px solid #647074;
}
#mnC{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	#mnC a{
		background: #3A3A3A;
		color: #ABABAB;
		padding: 0 1em;
		text-decoration: none;
	}
	#mnC a:hover{
		background: rgba(0,175,272,1);
		color: #fff;
	}
.cerrar{
	background: url(../imagenes/cerrar.png) no-repeat center;
	background-size: cover;
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}
.datnvig{
	height: 0;
	overflow: hidden;
}
.datusF{
	background: #000;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 0.5em;
}
.dell{
	background: #A54434;
	color: #fff;
	text-decoration: none;
}
.dell:hover,.dell:active{
	background: #792A1E;
}
.flexA{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	.flexA figure{
		width: 40%;
	}
	.flexA figure,.flexA #dates{
		margin: 1em 0;
	}
@media screen and (max-width: 700px){
	.flexA{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.flexA figure{
			margin: 0 auto;
			width: 90%;
		}
	#mnC{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
		#mnC a{
			border-bottom: 1px dotted #fff;
			padding: 0.5em 0;
		}
}