@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?5nxb0j');
	src:url('fonts/icomoon.eot?5nxb0j#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?5nxb0j') format('truetype'),
		url('fonts/icomoon.woff?5nxb0j') format('woff'),
		url('fonts/icomoon.svg?5nxb0j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bicil_carr2:before {
	content: "\e800";
}
.icon-login:before {
	content: "\e60f";
}
.icon-facebook5:before {
	content: "\e610";
}
.icon-google-plus2:before {
	content: "\e609";
}
.icon-twitter4:before {
	content: "\e60b";
}
.icon-facebook4:before {
	content: "\e60c";
}
.icon-youtube5:before {
	content: "\e60d";
}
.icon-instagram2:before {
	content: "\e60e";
}
.icon-carritoi:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e608";
}
.icon-mail:before {
	content: "\e606";
}
.icon-clear:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e60a";
}
.icon-whatsapp:before {
	content: "\e607";
}
.icon-chevron-up:before {
	content: "\e602";
}
.icon-google-plus-square:before {
	content: "\e601";
}
.icon-old-phone:before {
	content: "\e605";
}
.icon-pinterest3:before {
	content: "\e600";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-phone2:before {
	content: "\e942";
}
.icon-location:before {
	content: "\e947";
}
.icon-search:before {
	content: "\e986";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-ctrl:before {
	content: "\ea50";
}
.icon-google:before {
	content: "\ea87";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-youtube:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-youtube4:before {
	content: "\ea9a";
}
.icon-blogger:before {
	content: "\eab9";
}
.icon-blogger2:before {
	content: "\eaba";
}
.icon-pinterest:before {
	content: "\ead0";
}
.icon-pinterest2:before {
	content: "\ead1";
}

