<span style='color: #000'>199 frames</span>	<span style='color: #900'>7,680 KB</span>	<span style='color: #090'>1,110.11 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>C:\xampp\htdocs\cuadros\dompdf\include\style.cls.php</b> on line <b>1418</b><br />
